{{extend 'layout.html'}}
<div class="container">
<div class="span2 left-sidebar">
<ul class="nav nav-list" data-tabs="tabs" id="AdminTabs">
      <li class="nav-header">{{=IMG(_src=URL('download', auth.user.image),_alt=auth.user.nickname, _class="profile_image")}} <h4>{{=auth.user.nickname}}</h4></li>
      <li class="divider"></li>
      <li class="active" ><a href="#Results"  data-toggle="tab"><i class="icon-white icon-home"></i>Results</a></li>
      <li><a href="#Database"  data-toggle="tab"><i class="icon-book"></i> Database </a></li>
      <li class="divider"></li>
      <li><a href="#Help"  data-toggle="tab"><i class="icon-flag"></i> Help</a></li>
</ul>

</div>


<div style="width:850">

<div id="Admin_content" class="tab-content">

<div class="tab-pane active" id="Results">
{{=LOAD('default','get_results',ajax=True, ajax_trap=True, target = "Results")}}
</div>
<div class="tab-pane" id="Database">
<a href="appadmin/index" target="_newtab">Admin Page </a>
</div>
<div class="tab-pane" id="Help">
{{=LOAD('default','get_help',ajax=True)}}
</div>

</div>
</div>

</div>

