
<p> 
<br>
There are two types of predictions. <br>
<br>
<strong>Prior</strong> : Predict the score-lines of of the league matches and the qualifiers for the remaining ones BEFORE the world cup starts. <br>
You can change this until 12th June 2014, the start of world cup.<br>
<br>
<strong>Spot</strong> : Just before every match enter the predicted score-lines. There is no predictions for the qualifiers. <br>
You can change this until the start of each match.<br>
<br>
Obviously you score more for the prior predictions. <br>
However spot predictions are a great way to improve your scores since you can make better predictions as the world cup advances.<br>
<br>
<br>
<strong>Bets</strong> : This is another way to catch up with your friends who are leading. <br>
You don't have to spend any money. Bet with some of your current score each day. <br>
If you get the bet, then you score as many points. Otherwise you lose them :(<br>
<br>
<br>
<strong>Leagues</strong> : Normally you are ranked along with all other players. <br>
But you can create leagues and include all your friends in that so that you know where you stand among your friends.<br> 
This can be more fun since you compete with only your friends. Your don't have to make different predictions for different leagues.<br>




</p>