{{left_sidebar_enabled=False,right_sidebar_enabled=False,('message_header' in globals(), 'message_contents' in globals())}}
{{extend 'layout.html'}}

{{if 'message_header' in globals():}}
<h3>{{=message_header}}</h3>
{{if 'message_contents' in globals():}}
<h4>{{=message_contents}}</h4>
{{pass}}
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block left_sidebar}}
{{=IMG(_src=URL('download', auth.user.image),_alt=auth.user.nickname)}}
{{end}}

{{block main_content}}
{{end}}

{{block right_sidebar}}
<!--{{=IMG(_src=URL('static/images', 'WC-2014-Brasil.png'),_alt='2014 Fifa World Cup')}}//-->
{{=IMG(_src=URL('static/images', 'WC-2014-Brasil.png'),_alt='2014 Fifa World Cup')}}
{{end}}
