
<tr>

    <td>
        <h4 style="text-align:center;">League : {{=LeagueDetail['league_name']}}</h4>
    </td>
    <td>
        {{if LeagueDetail['league_state'] == 'active':}}
        <a href="#" id="AdminLeageDelete_{{=LeagueDetail['league_id']}}" title="Delete League">{{=IMG(_src=URL('static/images', 'league-delete.ico'))}}</a>
        <script>
            $('#AdminLeageDelete_{{=LeagueDetail['league_id']}}').ready(function() {
                attatchAjax('#AdminLeageDelete_{{=LeagueDetail['league_id']}}', '{{=LeagueDetail['league_id']}}', '{{=URL('delete_league')}}', '#' + $('#AdminLeageDelete_{{=LeagueDetail['league_id']}}').parent().parent().parent().attr('id'));
            });
        </script>
        {{else:}}
        <a href="#" id="AdminLeageActivate_{{=LeagueDetail['league_id']}}" title="Activate">{{=IMG(_src=URL('static/images', 'league-activate.ico'))}}</a>
        <script>
            $('#AdminLeageActivate_{{=LeagueDetail['league_id']}}').ready(function() {
                attatchAjax('#AdminLeageActivate_{{=LeagueDetail['league_id']}}', '{{=LeagueDetail['league_id']}}', '{{=URL('activate_league')}}', '#' + $('#AdminLeageActivate_{{=LeagueDetail['league_id']}}').parent().parent().parent().attr('id'));
            });
        </script>
        {{pass}}
    </td>
</tr>
<tr>
<td>
<form id="LeagueAddForm_{{=LeagueDetail['league_id']}}">

<table style="border-collapse:collapse">
    <tr>
        <td style="border:none;outline:none;"/>

        <td style="border:none;outline:none;"> 

            <div class="user-editor" >
            <div style="" id="LeagueUserAddSpan_{{=LeagueDetail['league_id']}}">
            </div>
            </div>
        </td>

        <td> <input type="button" value="Add" id="LeagueUserAddButton_{{=LeagueDetail['league_id']}}"> </td>
    </tr>
    <tr>
        <td style="border:none;outline:none;"> User Name : </td>
        <td> 
            <input value="" type="text" id="LeagueUserAddInput_{{=LeagueDetail['league_id']}}"/> 

        </td>
        
    </tr>
    <tr>
        <td style="border:none;outline:none;"/>
        <td style="border:none;outline:none;">
            <div style="position: absolute;" id="UserSearchUpdateId_{{=LeagueDetail['league_id']}}" class="UserSearchUpdateClass"></div>
        </td>
    </tr>
</table>
<script>
            $('#LeagueAddForm_{{=LeagueDetail['league_id']}}').ready(function() {
            
                $('#LeagueUserAddButton_{{=LeagueDetail['league_id']}}').click(function() {
                    aSelectedUsers = $('#LeagueUserAddSpan_{{=LeagueDetail['league_id']}} div');
                    aSelectedUsersId = new Array();
                    aSelectedUsers.each(function(index) {
                        aSelectedUsersId.push($(this).attr("id"));
                    });
                    if(aSelectedUsersId.length == 0)
                    {
                        alert("Please select some users");
                        return false;
                    }
                    $.ajax({  type: "POST",  
                        url: '{{=URL('add_users_to_leage')}}',  
                        data: { Id: {{=LeagueDetail['league_id']}}, UserIds: aSelectedUsersId }}).done(function( data ) {
                                $('#LeagueAddForm_{{=LeagueDetail['league_id']}}').parent().parent().parent().html(data);
                                });  
                    return false;
                });
                $("#LeagueUserAddInput_{{=LeagueDetail['league_id']}}").keyup(function (e){
                    $.ajax({  type: "POST",  
                        url: '{{=URL('name_suggestions')}}',  
                        data: { LeagueId: {{=LeagueDetail['league_id']}}, LeagueUserAddInput: $('#LeagueUserAddInput_{{=LeagueDetail['league_id']}}').val() }})
                        .done(function( data ) {
                                if(data != "<div></div>")
                                {
                                    $('#UserSearchUpdateId_{{=LeagueDetail['league_id']}}').html(data);
                                    
                                    $('#UserSearchUpdateId_{{=LeagueDetail['league_id']}}').show();
                                    aPos = $('#LeagueUserAddInput_{{=LeagueDetail['league_id']}}').position();
                                    $('#UserSearchUpdateId_{{=LeagueDetail['league_id']}}').css('top', aPos.top + 10 + $('#LeagueUserAddInput_{{=LeagueDetail['league_id']}}').height());
                                    $('#UserSearchUpdateId_{{=LeagueDetail['league_id']}}').css('width', $('#LeagueUserAddInput_{{=LeagueDetail['league_id']}}').width());
                                }
                                else
                                {
                                    $('#UserSearchUpdateId_{{=LeagueDetail['league_id']}}').hide();
                                }
                                                           
                        }); 
                    
                });
                
            });

</script>
</form>
</td>
</tr>
<tr><td colspan="2">
<table class="table1" id = "admin_leagues_table__{{=LeagueDetail['league_id']}}">
    <thead>
        <tr>
            <th scope="col" abbr="LeagueName">Member</th>
            <th scope="col" abbr="LeagueOwner">Membership State</th>
            <th scope="col" colspan="2">Modify Membership</th>
        </tr>
    </thead>
    
    <tbody>
    {{for item in LeagueDetail['all_members']:}}
    <tr>
        <td style="width: 40%"> {{=item['member_name']}}   </td>
        <td style="width: 40%"> {{=item['membership_state']}}   </td>
        {{if item['membership_state'] == 'pending':}}
            <td > <a href="#" id="AdminLeageApprove_{{=item['id']}}" title="Approve">{{=IMG(_src=URL('static/images', 'league-user-approve.ico'))}}</a>   </td>
            <td > <a href="#" id="AdminLeageReject_{{=item['id']}}" title="Reject">{{=IMG(_src=URL('static/images', 'league-user-reject.ico'))}}</a>   </td>
            <script>
                $('#AdminLeageApprove_{{=item['id']}}').ready(function() {
                    $('#AdminLeageApprove_{{=item['id']}}').click(function() {
                        $.ajax({  type: "POST",  
                                    url: '{{=URL('approve_membership')}}',  
                                    data: { Id:'{{=LeagueDetail['league_id']}}',
                                            ItemId: '{{=item['id']}}'}}).done(function( data ) {
                                            $('#admin_leagues_table__{{=LeagueDetail['league_id']}}').parent().parent().parent().html(data);
                                            });  
                        return false;
                     });
                });
                $('#AdminLeageReject_{{=item['id']}}').ready(function() {
                    $('#AdminLeageReject_{{=item['id']}}').click(function() {
                        $.ajax({  type: "POST",  
                                    url: '{{=URL('reject_membership')}}',  
                                    data: { Id:'{{=LeagueDetail['league_id']}}',
                                            ItemId: '{{=item['id']}}'}}).done(function( data ) {
                                            $('#admin_leagues_table__{{=LeagueDetail['league_id']}}').parent().parent().parent().html(data);
                                            });  
                        return false;
                     });
                });
            </script>
        {{pass}}
        {{if item['membership_state'] == 'approved':}}
            <td > <a href="#" id="AdminLeageRemove_{{=item['id']}}" title="Remove">{{=IMG(_src=URL('static/images', 'league-user-remove.ico'))}}</a>   </td>
            <td />
            <script>
                $('#AdminLeageRemove_{{=item['id']}}').ready(function() {
                    $('#AdminLeageRemove_{{=item['id']}}').click(function() {
                        $.ajax({  type: "POST",  
                                    url: '{{=URL('remove_membership')}}',  
                                    data: { Id:'{{=LeagueDetail['league_id']}}',
                                            ItemId: '{{=item['id']}}'}}).done(function( data ) {
                                            $('#admin_leagues_table__{{=LeagueDetail['league_id']}}').parent().parent().parent().html(data);
                                            });  
                        return false;
                     });
                });
            </script>
        {{pass}}
        
        {{if item['membership_state'] == 'rejected' or item['membership_state'] == 'removed' :}}
            <td > <a href="#" id="AdminLeageRejoin_{{=item['id']}}" title="Rejoin">{{=IMG(_src=URL('static/images', 'league-user-rejoin.ico'))}}</a>   </td>
            <td />
            <script>
                $('#AdminLeageRejoin_{{=item['id']}}').ready(function() {
                    $('#AdminLeageRejoin_{{=item['id']}}').click(function() {
                        $.ajax({  type: "POST",  
                                    url: '{{=URL('rejoin_membership')}}',  
                                    data: { Id:'{{=LeagueDetail['league_id']}}',
                                            ItemId: '{{=item['id']}}'}}).done(function( data ) {
                                            $('#admin_leagues_table__{{=LeagueDetail['league_id']}}').parent().parent().parent().html(data);
                                            });  
                        return false;
                     });
                });
           </script>
        {{pass}}
        
    </td>
    </tr>
   {{pass}}
    </tbody>
</table>

</td></tr>