<div id="UserLeaguesLeageRankingPage">

<h4 style="text-align:center;"> Ranking of the members </h4>

{{aSortedLeageDetails = sorted(LeagueDetails['all_members'], key=lambda k: k['last_score'], reverse=True)}}
<table class="table1" id = "user_leagues_table__{{=LeagueDetails['league_id']}}">
    <thead>
        <tr>
            <th scope="col" abbr="LeagueName">Member</th>
            <th scope="col" abbr="LeagueOwner">Score</th>
        </tr>
    </thead>
    
    <tbody>
    {{for item in aSortedLeageDetails:}}
    {{if item['membership_state'] == 'approved':}}
    <tr>
        <td style="width: 40%">
            <a href="#" id="user_leagues_table__Link_{{=item['id']}}_{{=item['member_id']}}">
            {{=item['member_name']}}   
            </a>
            <script>
            $('#user_leagues_table__Link_{{=item['id']}}_{{=item['member_id']}}').click(function() {
                $.web2py.component('default/get_user_details_page?UserId=' + {{=item['member_id']}}, "user_leagues_table__{{=LeagueDetails['league_id']}}");
                return false;
            });
            </script>
        </td>
        <td style="width: 40%"> {{=item['last_score']}}   </td>
    </tr>
    {{pass}}
   {{pass}}
    </tbody>
</table>

</div>