<script>
function attatchAjax(anElementId_in, anItemId_in, aURL_in, aTarget_in)
{
    
    $(anElementId_in).click(function() {
        $.ajax({  type: "POST",  
                    url: aURL_in,  
                    data: { Id: anItemId_in}}).done(function( data ) {
                            $(aTarget_in).html(data);
                            });  
        return false;
     });
}
</script>
<ul class="nav nav-tabs" data-tabs="tabs" id="LeagueTabs">
<li class="active"><a href="#UserLeaguesArea"  data-toggle="tab" onclick="$.web2py.component('default/get_user_leagues', 'UserLeaguesArea');"><h4> Member </h4></a></li>
<li><a href="#AllLeaguesArea"  data-toggle="tab" onclick="$.web2py.component('default/get_all_leagues', 'AllLeaguesArea');"><h4> All </h4></a></li>
<li><a href="#LeagueCreationArea"  data-toggle="tab"><h4> Create </h4></a></li>
<li><a href="#AdminLeaguesArea"  data-toggle="tab" onclick="$.web2py.component('default/get_admin_leagues', 'AdminLeaguesArea');"><h4> Administer </h4></a></li>
</ul>

<div id="LeagueTabs_content" class="tab-content">

<div class="tab-pane active" id = "UserLeaguesArea">
{{=LOAD('default','get_user_leagues',ajax=True, ajax_trap=True, target = "UserLeaguesArea")}}
</div>

<div class="tab-pane" id = "LeagueCreationArea">
<form id="LeagueCreationForm">
League Name : <input value="" type="text" id="LeagueNameInput"/>
League Description : <input value="" type="text" id="LeagueDescInput"/>
<input type="button" value="Create" id="LeagueNameCreateButton"/>
<script>
            $('#LeagueNameCreateButton').click(function() {
                if($('#LeagueNameInput').val() == "GlobalLeague")
                {
                    alert("This is a reserved league name. Please choose another name");
                    return false;
                }
                $.ajax({  type: "POST",  
                    url: '{{=URL('create_league')}}',  
                    data: { LeagueName: $('#LeagueNameInput').val(), LeagueDesc: $('#LeagueDescInput').val() }}).done(function( data ) {
                            $('#LeagueNameInput').val("");
                            $('#LeagueDescInput').val("");
                            //  Doing nothing
                            });  
                return false;
            });
</script>
</form>
</div>

<div class="tab-pane" id = "AllLeaguesArea"/>
<div class="tab-pane" id = "AdminLeaguesArea"/>
</div>
