<div id="UserLeaguesLeageDetailsPage">

<ul class="nav nav-tabs" data-tabs="tabs" id="LeagueDetailPageTabs">
<li class="active"><a href="#LeagueRankingArea"  data-toggle="tab" onclick="$.web2py.component('default/get_league_ranking?LeagueId=' + '{{=LeagueId}}', 'LeagueRankingArea');"><h5> Ranking </h5></a></li>
<li><a href="#LeagueGraphArea"  data-toggle="tab" onclick="$.web2py.component('default/get_league_graph?LeagueId=' + '{{=LeagueId}}', 'LeagueGraphArea');"><h5> Graph </h5></a></li>
</ul>

<div id="LeagueDetailsTabs_content" class="tab-content">

<div class="tab-pane active" id = "LeagueRankingArea">
{{=LOAD('default','get_league_ranking?LeagueId=' + LeagueId,ajax=True, ajax_trap=True, target = "LeagueRankingArea")}}
</div>

<div class="tab-pane" id = "LeagueGraphArea"/>

</div>
</div>