
<div id="NotificationsArea" class="comments-area">
<h4 style="text-align:center;font-weight: bold; ">Messages</h4>

<ol class="commentlist" id="NotificationsList"> 
<table class="mail_table">
<thead>
    <th>Notification</th>
    <th>From</th>
    <th>Date</th>
    <th>Delete</th>
</thead>
<tbody>
{{for item in Notifications:}}
    {{aBoldStyle = ""}}
        {{if item['read_state'] == 'unopened':}}
            {{aBoldStyle = "font-weight:bold;"}}
        {{pass}}
    <tr style="{{=aBoldStyle}}">
    <td style="width: 60%">
        
        <a href="#" id="NotificationTitleItem_{{=item['id']}}" >{{=item['subject']}} </a>
        <li class="comment even thread-even depth-1" id="NotificationBody_{{=item['id']}}" style="display:none;">
            <article id="NotificationBodyItem_{{=item['id']}}" class="comment">
                <div class="comment-content"><p>{{=item['notification_body']}}</p></div>
            </article>
        </li>
    </td>
    <td style="width: 15%">
        <a href="#" id="NotificationsList_{{=item['id']}}">
        {{=item['source_name']}}
        </a>
        <script>
            $('#NotificationsList_{{=item['id']}}').click(function() {
                $.web2py.component('default/get_user_details_page?UserId=' + {{=item['source_id']}}, $('#NotificationsArea').parent().attr('id'));
                return false;
            });
        </script>
    </td>
    <td style="width: 20%">
        {{=item['date_time']}}
    </td>
    <td style="width: 5%">
        <a href="#" id="NotificationDeleteItem_{{=item['id']}}" class="icon icon-trash" title="Delete"></a>
    </td>
    </tr>
    <script>
    $('#NotificationTitleItem_{{=item['id']}}').click(function() {
        jQuery('#NotificationBody_{{=item['id']}}').slideToggle(); 
        $(this).parent().parent().css('fontWeight', 'normal');
        $.ajax({  type: "POST",  
                    url: '{{=URL('read_notification')}}',  
                    data: { Id: '{{=item['id']}}'}}); 
        return false;
     });
     
     $('#NotificationDeleteItem_{{=item['id']}}').click(function() {
        $.ajax({  type: "POST",  
                    url: '{{=URL('delete_notification')}}',  
                    data: { Id: '{{=item['id']}}'}})  
                    .done(function( msg ) {
                        $('#NotificationBody_{{=item['id']}}').parent().parent().remove(); 
                    }); 
        return false;
     });
     
   </script>     
{{pass}}	
</tbody>
</table>
 </ol>

 
 <script>
    function attachClickFunction(aButtonId_in, aParam_in)
    {
        $(aButtonId_in).click(function() {
            $.ajax({  type: "POST",  
                        url: '{{=URL('get_notifications')}}',  
                        data: { Direction: aParam_in}}).done(function( msg ) {
                            $('#NotificationsArea').parent().html(msg); 
                        });
            return false;
         });
     }
</script> 

 <div>
 <input value="" type="hidden" id="UserNotificationOffset" value="{{=NotificationsOffset}}"/>
 <input value="" type="hidden" id="UserNotificationMoreLeftFlag" value="{{=MoreLeftFlag}}"/>
 <input value="" type="hidden" id="UserNotificationMoreRightFlag" value="{{=MoreRightFlag}}"/>
{{if MoreLeftFlag == True:}}
<a href="#" id="UserNotificationBackwardMost" class="icon icon-fast-backward" title="First"></a>
<script>
    attachClickFunction('#UserNotificationBackwardMost', 'LeftMost');
</script>   
<a href="#" id="UserNotificationBackward" class="icon icon-backward" title="Previous"></a>
<script>
    attachClickFunction('#UserNotificationBackward', 'Left');
</script>   
{{pass}}
{{if MoreRightFlag == True:}}
<div style = "text-align:right;"><a href="#" id="UserNotificationForward" class="icon icon-forward" title="Next"></a>
<script>
    attachClickFunction('#UserNotificationForward', 'Right');
</script>   
<a href="#" id="UserNotificationForwardMost" class="icon icon-fast-forward" title="Last"></a>
<script>
    attachClickFunction('#UserNotificationForwardMost', 'RightMost');
</script>   
</div>
{{pass}}
  
</div>
</div>
