<div class="posts" id = "NewsFeedItemsDiv">

{{for newsItem in NewsData:}}

<div class="post">
<h3 class="title">{{=newsItem.title}}</h3>

<p class="byline">
<small>Posted on {{=newsItem.date_time}} by 
    <a href="#" id="post_user_link_{{=newsItem.id}}">
    {{=db.auth_user[newsItem.author_id].first_name}}
    </a>
    <script>
        $('#post_user_link_{{=newsItem.id}}').click(function() {
            $.web2py.component('default/get_user_details_page?UserId=' + {{=newsItem.author_id}}, $('#NewsFeedItemsDiv').parent().parent().attr('id'));
            return false;
        });
    </script>
</small></p>

<div class="entry"> 
{{if newsItem.image is not "":}}
    {{=IMG(_src=URL('download', newsItem.image),_alt=newsItem.title, _class="left", _width="122", _height="122")}}
{{pass}}
<p>{{=newsItem.body}}</p>
</div>

<p class="links"><a href="#" class="comments"></a></p>

<div class="tab-pane" id="UserComments_{{=newsItem.id}}">
{{=LOAD('default','get_comments',ajax=True, ajax_trap=True, target = "UserComments_" + str(newsItem.id), vars={'TargetType':'news_item', 'TargetId':newsItem.id})}}
</div>
</div>

{{pass}}

<input value="{{=MoreFlag}}" type="hidden" id="MoreFlag" />
</div>

