<link rel="stylesheet" type="text/css" href="../static/css/posts.css" />
<h2 style="text-align:center;">Latest News</h2>
<div id="news_items_content_dummy" style = "display:none"/>

<div id="news_items_content">



<script language="javascript" type="text/javascript">

function LoadNextChunkComments(aFirst_in)
{
    aURL = "default/get_newsfeed_chunk";
    if(aFirst_in == false)
    {
        aURL = "default/get_newsfeed_chunk?NextChunk=True";
    }
    
    $.web2py.component(aURL, "news_items_content_dummy");
    
    
    (function (secondTime) {
        if (secondTime) {
            $('#news_items_content').append($('#news_items_content_dummy').html());
            if(jQuery('#MoreFlag').prop("value") == "True")
            {
                jQuery('#MorePostsLink').show();
            }
            else
            {
                jQuery('#MorePostsLink').hide();
            }
        }
        else {
            setTimeout(arguments.callee, 2000, true); // call myself again in 2000 msecs
        }
    }(false));
}


$(document).ready(function(){
    
    LoadNextChunkComments(true);
    
    $("#MorePostsLink").click(function(){  
        LoadNextChunkComments(false);
    });

});
</script>

</div>

<h4><p class="links" style="text-align:center"><a href='javascript:void(0)' class="comments" id = "MorePostsLink">More</a></p></h4>