{{right_sidebar_enabled=False,('message_header' in globals(), 'message_contents' in globals())}}
{{extend 'layout.html'}}

<div class="container">
<div class="span2 left-sidebar">
<ul class="nav nav-list" data-tabs="tabs" id="UserTabs">
      <li class="nav-header">{{=IMG(_src=URL('download', auth.user.image),_alt=auth.user.nickname, _class="profile_image")}} <h4>{{=auth.user.nickname}}</h4></li>
      <li class="divider"></li>
      <li class="active" ><a href="#UserHome"  data-toggle="tab"><i class="icon-white icon-home"></i> Home</a></li>
      <li><a href="#UserStatistics"  data-toggle="tab"  onclick="$.web2py.component('default/get_stats', 'UserStatistics');"><i class="icon-white icon-book"></i> Statistics</a></li>
      <li><a href="#UserPredictions"  data-toggle="tab" onclick="$.web2py.component('default/get_predictions', 'UserPredictions');"><i class="icon-white icon-pencil"></i> Predictions</a></li>
      <li><a href="#UserBets"  data-toggle="tab" onclick="$.web2py.component('default/get_user_bets', 'UserBets');"><i class="icon-white icon-briefcase"></i> Bets</a></li>
      <li class="divider"></li>
      <li><a href="#UserProfile"  data-toggle="tab" onclick="$.web2py.component('default/profile', 'UserProfile');"><i class="icon-white icon-user"></i> Profile</a></li>
      <li><a href="#UserSettings"  data-toggle="tab" onclick="$.web2py.component('default/profile', 'UserSettings');"><i class="icon-white icon-cog"></i> Settings</a></li>
      <li class="divider"></li>
      <li><a href="#UserHelp"  data-toggle="tab" onclick="$.web2py.component('default/get_help', 'UserHelp');"><i class="icon-white icon-flag"></i> Help</a></li>
</ul>

</div>


<div style="width:850">

<div id="UserTabs_content" class="tab-content">

<div class="tab-pane active" id="UserHome">
{{=LOAD('default','get_newsfeed',ajax=True, ajax_trap=True, target = "UserHome")}}
</div>

<div class="tab-pane" id="UserStatistics">

</div>

<div class="tab-pane" id="UserPredictions">

</div>

<div class="tab-pane" id="UserBets">

</div>

<div class="tab-pane" id="UserSettings">
User settings.
</div>

<div class="tab-pane" id="UserProfile">

</div>
<div class="tab-pane" id="UserHelp">

</div>

</div>
</div>

</div>

{{block right_sidebar}}
<!--{{=IMG(_src=URL('static/images', 'WC-2014-Brasil.png'),_alt='2014 Fifa World Cup')}}//-->

{{end}}
