
.post {
    padding: 15px;
    color: #000;
    border: 1px solid #89CA23;
    border-bottom: 3px solid #82B321;
    background-color: #8BC024;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.02, rgb(119, 206, 8)), color-stop(0.51, rgb(139,198,66)), color-stop(0.87, rgb(86, 94, 4)) );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    text-align: center;
}

.post a {
	color: #FFFFFF;
}

.post a:hover {
	color: #FFFFFF;
}

.post .title {
	margin: 0;
	padding: 30px 30px 0 30px;
}

.post .title a {
	text-decoration: none;
	color: #0A416B;
}

.post .byline {
	margin: 0;
	padding: 0 30px;
}

.post .entry {
	padding: 20px 30px 10px 30px;
}

.post .links {
	margin: 0;
	padding: 10px 30px 35px 30px;
	background: url(../images/img06.gif) repeat-x left bottom;
	border-top: 1px solid #2872A6;
}

.post .links a {
	padding-left: 10px;
	background: url(../images/img08.gif) no-repeat left center;
	text-decoration: none;
	font-weight: bold;
	color: #0A416B;
}

.post .links a:hover {
	color: #FFFFFF;
}